<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Menus
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button block menuToggle>Toggle Menu</button>
</ion-content>

<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-item menuClose detail-none>Close Menu</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
  
<!-- <ion-tabs>
  <ion-tab tabIcon="contact" [root]="allOrder"></ion-tab>
  <ion-tab tabIcon="compass" [root]="yourOrder"></ion-tab>
</ion-tabs> -->
<!-- 
<ion-header>
  <ion-navbar>
    <ion-buttons>LaLa 
        <ion-nav id="nav" #content [root]="rootPage">
        </ion-nav>
    </ion-buttons>
    <ion-title>Home page</ion-title>
    
  </ion-navbar>
</ion-header>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
  
  <div *ngIf="user">Hello, {{user.displayName}}</div>
  <div class="card-background-page" *ngFor="let item of publicMenus | async">
    <menu [key]="item.key"></menu>
  </div>
  <div class="card-background-page" *ngFor="let item of privateMenus | async">
    <menu [key]="item.key"></menu>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="danger"  (click)="createMenu()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content> -->