<ion-header>
  <ion-navbar>
    <ion-buttons>LaLa 
        <ion-nav id="nav" #content [root]="rootPage">
        </ion-nav>
    </ion-buttons>
    <ion-title>Home page</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createMenu()">
        Create
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(homePage)">
        Home
      </button>
      <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
      <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
  
<ion-content>
  <div *ngIf="user">Hello, {{user.displayName}}</div>
  <div class="card-background-page" *ngFor="let key of publicMenus">
    <menu [key]="key"></menu>
  </div>
  <pre>{{publicMenus | json}}</pre>
  <div class="card-background-page" *ngFor="let key of privateMenus">
    <menu [key]="key"></menu>
  </div>
  <pre>{{privateMenus | json}}</pre>
</ion-content>