<ion-header>
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div class="logo">
      <div class="logo__img">
          <img src="../../assets/imgs/logo-3.png"/>
      </div>
    </div>
    <p class="message error" *ngIf="message"  [ngClass]="{error: !isValid}">{{message}}</p>
    <form [formGroup]="resetForm" (ngSubmit)="resetPass()">
      <div class="form-group"
      [ngClass]="{'form-group__invalid': resetForm.controls['email'].errors && resetForm.controls['email'].dirty}">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" value="" formControlName="email"></ion-input>
        </ion-item>
        <p class="danger form-group__error-message" 
          *ngIf="resetForm.controls['email'].errors && resetForm.controls['email'].dirty" >Email is not valid.</p>
      </div>
      <div padding>
        <button ion-button block type="submit">Send</button>
      </div>
    </form>
  </ion-content>
  
  