<ion-header>
    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div class="logo">
      <div class="logo__img">
          <img src="../../assets/imgs/logo.jpg"/>
      </div>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="resetPass()">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" value="" formControlName="email"></ion-input>
        </ion-item>
      <div padding>
        <button ion-button clear block type="submit">Forgot password</button>
      </div>
    </form>
  </ion-content>
  
  