@font-face {
  font-family: 'moon-bold';
  src: url( $font-path + '/moon-bold.woff') format('woff'), url( $font-path + '/moon-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moon-regular';
  src: url( $font-path + '/moon-regular.woff') format('woff'), url( $font-path + '/moon-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moon-light';
  src: url( $font-path + '/moon-light.woff') format('woff'), url( $font-path + '/moon-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-bold';
  src: url( $font-path + '/nunito-bold.woff') format('woff'), url( $font-path + '/nunito-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-semibold';
  src: url( $font-path + '/nunito-semibold.woff') format('woff'), url( $font-path + '/nunito-semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-regular';
  src: url( $font-path + '/nunito-regular.woff') format('woff'), url( $font-path + '/nunito-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-light';
  src: url( $font-path + '/nunito-light.woff') format('woff'), url( $font-path + '/nunito-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}